body {
	border-style: solid;
	border-color: red;
	display: inline-block;
	padding: 0px 10px 10px;
	font-family: monospace;
}
hr{

}
h1 {
	color: red;
	font-family: fantasy;
	font-size: 40px;
}
p {
	font-weight: lighter;
	text-align: center;
}
img {
	display:block;
	margin:auto;
}